// Colors
//
// Grayscale and brand colors for use across Bootstrap.

// Start with assigning color names to specific hex values.
//
// Color system
//

@import "./fonts/fontawesome/scss/solid.scss";
@import "./fonts/fontawesome/scss/brands.scss";
@import "./fonts/fontawesome/scss/fontawesome.scss";
@import 'colors';
@import 'variables';



// Reassign color vars to semantic color scheme
$theme-colors: (
		primary: $color-primary-4,
		secondary: $color-secondary-1-3,
		tertiary: $color-secondary-2-3,
		success: $green,
		info: $cyan,
		warning: $yellow,
		danger: $red,
		light: $gray-100,
		dark: $gray-800,
    neutralLighterAlt: $neutralLighterAlt,
    neutralLighter: $neutralLighter,
    neutralLight: $neutralLight,
    neutralQuaternaryAlt: $neutralQuaternaryAlt,
    neutralQuaternary:$neutralQuaternary,
    neutralTertiaryAlt: $neutralTertiaryAlt,
    neutralTertiary: $neutralTertiary,
    neutralSecondary: $neutralSecondary,
    neutralPrimaryAlt: $neutralPrimaryAlt,
    neutralPrimary: $neutralPrimary,
    neutralDark: $neutralDark,
    black: $black,
	)
	!default;

@media only screen and (max-width: 991px){
	.display-4{
		font-size: 2.3rem !important;
	}

}
@media only screen and (max-width: 767px)
{
	.display-4{
		font-size: 2.8rem !important;
	}


}
@media only screen and (max-width: 640px)
{
	.display-4{
		font-size: 2.5rem !important;
	}
	.navbar-nav {
		background: $white;
	}


}
@media only screen and (max-width: 640px)
{
	.display-4{
		font-size: 2rem !important;
	}
	.navbar-nav {
		background: $white;
	}


}


.brand {
  max-width: 2rem;
  min-width: 2rem;
}
.card-img-overlay {

  background: linear-gradient(rgba(11, 11, 11, 0.0), rgba(11, 11, 11, .6)) !important;

}
//.bg-cover {
//	background: url("/img/wave-bg.svg");
//	width: auto;
//  width: auto;
//  background-size: cover;
//  /* background-size: contain; */
//  background-repeat: no-repeat;
//  background-position: bottom;
//}


.padding-top-section{
  padding-top: 7rem;
}



//backgrounds
.bg-neutralLighterAlt {
	background-color: $neutralLighterAlt !important;
}
.bg-neutralLighter {
	background-color: $neutralLighter !important;
}
.bg-neutralLight {
	background-color: $neutralLight !important;
}
.bg-neutralLighterAlt {
	background-color: $neutralLighterAlt !important;
}
.bg-neutralLighter {
	background-color: $neutralLighter !important;
}
.bg-neutralLight {
	background-color: $neutralLight !important;
}
.bg-neutralQuaternaryAlt {
	background-color: $neutralQuaternaryAlt !important;
}
.bg-neutralQuaternary {
	background-color: $neutralQuaternary !important;
}
.bg-neutralTertiaryAlt {
	background-color: $neutralTertiaryAlt !important;
}
.bg-neutralTertiary {
	background-color: $neutralTertiary !important;
}
.bg-neutralSecondary {
	background-color: $neutralSecondary !important;
}
.bg-neutralPrimaryAlt {
	background-color: $neutralPrimaryAlt !important;
}
.bg-neutralPrimary {
	background-color: $neutralPrimary !important;
}
.bg-neutralDark {
	background-color: $neutralDark !important;
}

.size-3 img{
  width: 3rem;
  height: 3rem;
}


//fonts
//
//$font-family-sans-serif: 'Work Sans', sans-serif;
//$font-family-serif: 'Open Sans', sans-serif;

//shadows
//

$shadow-less: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;

.hover-shadow {
	&:hover {
		box-shadow: $shadow-less;
	}
}

// Options
//
// Quickly modify global styling by enabling or disabling optional features.
$enable-rounded: true !default;
$enable-shadows: true !default;
$enable-gradients: false !default;
$enable-transitions: false !default;
$enable-hover-media-query: false !default;
$enable-grid-classes: true !default;
$enable-print-styles: true !default;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (sm: 540px, md: 640px, lg: 710px, xl: 780px) !default;

// Body
//
// Settings for the `<body>` element.

// Links
//
// Style anchor elements.
$link-decoration: none !default;
$link-hover-decoration: none !default;

@import '../../node_modules/bootstrap/scss/bootstrap';

